@import 'reset';
@import 'menu';

.header {
    position: relative;
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.section-feedback {
    padding: 20px;
    height: 370px;
    h1 {
        padding-top: .5rem;
        font-size: 2.2rem;
    }

    p {
        padding-top: 1.5rem;
        line-height: 24px;
        color: hsl(0, 0%, 63%);
    }

    div {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        a {
            text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;
            color: black;
            font-size: 1.7rem;
            font-weight: 600;
        }
    }
}

.section-one {
    width: 100%;
    height: 300px;
    img {
        width: 100%;
        height: 100%;
    }
}

.section-two {
    padding: 20px;
    height: 370px;
    h2 {
        padding-top: 2rem;
        font-size: 2.2rem;
    }

    p {
        padding-top: 1.5rem;
        line-height: 24px;
        color: hsl(0, 0%, 63%);
    }
}

.section-three {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

@import 'mediaquery';